@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Zamów u nas jedzenie</h1>
    <p>Pyszne wegańskie i wegetariańskie dania</a>.</p>
</div>

<div class="image-container">
    <img src="/images/jedzenie1.jpeg" alt="Opis obrazka">
    <img src="/images/jedzenie2.jpeg" alt="Opis obrazka">
    <img src="/images/jedzenie4.jpeg" alt="Opis obrazka">
    <img src="/images/jedzenie5.jpeg" alt="Opis obrazka">
    <img src="/images/jedzenie6.jpeg" alt="Opis obrazka">
    <img src="/images/jedzenie7.jpeg" alt="Opis obrazka">

</div>
